body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.checkbox {
  width: 50px;
  height: 50px;
}

.center-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

session {
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

/* Custom checkbox */

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #333;
  background-color: #fff;
}

.custom-checkbox input svg {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox:focus {
  outline: #333 solid 1px;
}